doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
    body 
    h1 Login
    form(action="/auth/login" method="post")
        input(type="hidden" name="_csrf", value=this.csrf)
        p
            label(for="email") Email
            input(type="email" name="email" id="email" placeholder="Email")
        p
            label(for="password") Password
            input(type="password" name="password" id="password" placeholder="Password")
        p
            input(type="submit" value="Login")
        a(href="/auth/register") Register
        a#login-link Github
        a(href="/auth/reset") Reset Password
        a(href="/") Home